<div class="container">
    <div class="row mt-5">
        <!-- left side -->
        <div class="col-md-6 d-flex justify-content-center align-items-center bg-picton">
            <div class="col-md-8 bg-white rounded-4 p-3"> <!-- size controller for the form -->
                <!-- form start -->
                <form class="my-3">
                    <div class="mb-3">
                        <label for="exampleInputUserName" class="form-label">Username</label>
                        <input type="text" name="username" [(ngModel)]="user.username" class="form-control" aria-describedby="usernameHelp">
                        <div id="usernameHelp" class="form-text">We'll never share your name with anyone else.</div>
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" name="password" [(ngModel)]="user.password" required minlength="8" class="form-control" >
                    </div>
                    <div class="mb-3 form-check d-flex justify-content-between">
                        <div>
                            <input type="checkbox" class="form-check-input" >
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <div>forget password</div>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="addItem(user.username, user.password)">Submit</button>
                  </form>
                <!-- form end -->
<div class="row bg-picton py-3"></div>
                 <!-- form start -->
                <form [formGroup]="userForm" (ngSubmit)="onSubmitReactive()" class="my-3">
                    <div class="mb-3">
                        <label for="exampleInputUserName" class="form-label">Username</label>
                        <input type="text" formControlName="name" class="form-control" aria-describedby="usernameHelp">
                        <div id="usernameHelp" class="form-text">We'll never share your name with anyone else.</div>
                      </div>
                      <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">email</label>
                      <input type="email" formControlName="email" class="form-control" >
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" formControlName="password" class="form-control" >
                    </div>
                    <div class="mb-3 form-check d-flex justify-content-between">
                        <div>
                            <input type="checkbox" class="form-check-input" >
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <div>forget password</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                <!-- form end -->
            </div>
        </div>
        <!-- right side -->
        <div class="col-md-6 d-flex justify-content-center align-items-center bg-rich">
            <div class="col-md-12 d-flex justify-content-center align-items-center position-relative">
                <li class="c-picton" *ngFor="let item of items">
                    {{ item.name }} - {{ item.description }}
                    <button class="c-picton" (click)="deleteItem(item.id)">Delete</button>
                </li>
            </div>
        </div>
    </div>
</div>
