<div class="container">
    <div class="row mt-5">
        <!-- left side -->
        <div class="col-md-6 d-flex justify-content-center align-items-center bg-picton">
            <div class="col-md-8 bg-white rounded-4 p-3"> <!-- size controller for the form -->
                <div class="col-md-12"><h6 class="kanit-regular">Dromn</h6></div>
                <div class="col-md-12 mt-5"><h2 class="kanit-regular">Holla,<br> Welcome Back</h2></div>
                <div class="col-md-12"><span>Hey👋, welcome back to your speacial place</span></div>
                <!-- form start -->
                <form class="my-3">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check d-flex justify-content-between">
                        <div>
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <div>forget password</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                <!-- form end -->
            </div>
        </div>
        <!-- right side -->
        <div class="col-md-6 d-flex justify-content-center align-items-center bg-rich">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
                <img src="assets/images/entery.svg" height="500px" alt="">
            </div>
        </div>
    </div>
</div>
